body {
    background-color: black;
}

a {
    text-decoration: none;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: x-large;
    border-radius: 10px;
    margin: 10px;
}

a:hover {
    color: aqua;
}

.flexbox {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 30vw;
    /*background-color: aliceblue;*/
    justify-content: center;
    align-items: center;
}