
@import url('https://fonts.googleapis.com/css2?family=Kolker+Brush&family=Roboto:ital,wght@1,700&family=Shizuru&display=swap');

h1 {
    font-family: 'Kolker Brush', cursive;
    font-size: 200px;
    color: white;
    text-align: center;
    
}
p{
    font-family: 'Kolker Brush', cursive;
    font-size: 100px;
    color: white;
    text-align: center; 
    margin-left: 100px;
    margin-right: 100px;
}


